<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>macroni</title>
  </head>

  <script type="text/javascript" src="js/main.js"></script>

  <body>
	<main>
	  <h2>Today's totals:</h2>
	  <table rules="all" style="text-align:right">
		<thead>
		  <tr>
			<th>Date</th>
			<th>Calories</th>
			<th>Carbs</th>
			<th>Fat</th>
			<th>Protein</th>
		  </tr>
		</thead>
		<tbody>
		<tr>
		  <td>{{today.date}}</td>
		  <td>{{today.calories}}</td>
		  <td>{{today.carbs}}</td>
		  <td>{{today.fat}}</td>
		  <td>{{today.protein}}</td>
		</tr>
		</tbody>
	  </table>

	  <h2>Add a food to the database:</h2>
	  <form action="/add-food" method="post">
		<div>
		  <label for="name">Food name: </label>
		  <input type="text" name="name" id="name" required />
		</div>
		<div>
		  <label for="calories">Calories: </label>
		  <input type="text" name="calories" id="calories" required />
		</div>
		<div>
		  <label for="carbs">Carbs: </label>
		  <input type="text" name="carbs" id="carbs" required />
		</div>
		<div>
		  <label for="fat">Fat: </label>
		  <input type="text" name="fat" id="fat" required />
		</div>
		<div>
		  <label for="protein">Protein: </label>
		  <input type="text" name="protein" id="protein" required />
		</div>
		<div>
		  <label for="unit">Unit: </label>
		  <input type="text" name="unit" id="unit" required />
		</div>
		<div>
		  <input type="submit" value="Submit" />
		</div>
	  </form>

	  <br>

	  <h2>Current foods:</h2>
	  <table>
		<thead>
		  <tr>
			<th>Name</th>
			<th>Calories</th>
			<th>Carbs</th>
			<th>Fat</th>
			<th>Protein</th>
			<th>Units</th>
			<th>Delete</th>
			<th>Add</th>
		  </tr>
		</thead>
		<tbody>
		{% for f in foods %}
		<tr>
		  <td>{{f.name}}</td>
		  <td>{{f.calories}}</td>
		  <td>{{f.carbs}}</td>
		  <td>{{f.fat}}</td>
		  <td>{{f.protein}}</td>
		  <td>{{f.unit}}</td>
		  <td><button onclick="deleteRow({{f.id.unwrap()}})">Delete</button></td>
		  <td>
			<button onclick="addToday({{f.id.unwrap()}}, '{{today.date}}')">
			  Add
			</button>
		  </td>
		</tr>
		{% endfor %}
		</tbody>
	  </table>
	</main>
  </body>
</html>
